save-exact=true
init.author.name=Danilo Prates
init.author.email=daniloprates@gmail.com
init.author.url=http://daniloprates.github.io/
init.license=MIT
username=daniloprates
email=daniloprates@gmail.com
